body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    font-family: sans-serif;
  }
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    width: 70%;
    flex-direction: column;
    background-image: url('https://raw.githubusercontent.com/SergioElCringe/JS_step_1/main/students/kungurov_hw/Kungurov_hw_5/unnamed.jpg');
    object-fit: cover;
    background-size: cover;
  }
  .game .start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    margin-bottom: 30px;
    margin-top: 83px;
  }
  label {
    margin-bottom: 15px;
  }
  input {
    width: 220px;
    height: 50px;
  }
  .result {
    border: 2px solid black;
    height: 615px;
  }
  .card{
    border: 2px solid black;
  }