.product_grid {
    display: flex !important;
    flex-wrap: wrap !important;
    height: auto !important;
    position: relative !important;
    justify-content: center !important;
}

@media screen and (max-width: 546px) {
    .product_grid {
        justify-content: center;
    };
}