.products {
    width: 100%;
    background: #ffffff;
    padding-top: 99px;
    z-index: 2;
}

.product {
    width: 250px;
    transition: 0.3s;
    margin-left: 15px;
    margin-right: 15px;
}

.product_image {
    width: 100%;
}

.product_image img {
    max-width: 100%;
}

.product_content {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 38px;
}

.product_title a {
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    line-height: 1.1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.product_title a:hover {
    color: #e95a5a;
}

.product_price {
    font-size: 16px;
    font-weight: 500;
    color: #6c6a74;
    line-height: 0.75;
    margin-top: 13px;
}

.product_extra {
    position: absolute;
    top: 0;
    left: 54px;
    width: 66px;
    height: 36px;
    text-align: center;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    transform: rotate(90deg);
}

.product_extra a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 36px;
}

.product_new {
    background: #6c6a74;
}

.product_sale {
    background: #e95a5a;
}

.product_hot {
    background: #1b1b1b;
}

.product:hover {
    transform: scale(1.03);
}

.product:hover .btn-add {
    display: block;
    position: absolute;
    transition: 0.3s;
}

.btn-add {
    position: relative;
    display: none;
    top: 201px;
    left: 0px;
    width: 250px;
    animation: fade 0.5s linear forwards;
    border: 2px solid #333;
    height: 50px;
    background-color: #333;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 900;
    padding-top: 15px;
    transition: 0.3s;
}

.btn-add:hover {
    font-size: 15px;
    background-color: #333;
    transition: 0.3s;
}

.sale .old-price {
    margin-right: 15px;
    color: red;
}

.sale .new-price {
    color: green;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.cart__item {
    display: flex;
    padding: 5px 10px;
    align-items: center;
}

.cart__item__img {
    width: 140px;
    height: 80px;
    margin-right: 10px;
    border: 1px solid black;
}

.cart__item___info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.cart__item__info span {
    font-size: 13px;
}

.quantity {
    display: flex;
    background-color: rgba(255, 255, 255, 0.788);
    max-width: 80px;
    border-radius: 4px;
    justify-content: space-around;
    border: 2px solid black;
}

.quantity .amount {
    width: 28px;
    padding: 0 5px;
    border-right: 1px solid rgb(184, 183, 183);
    border-left: 1px solid rgb(184, 183, 183);
    display: flex;
    justify-content: center;
}

.quantity .item-minus {
    margin-left: 5px;
    cursor: pointer;
    padding-right: 5px;
}

.qty-flex {
    display: flex;
    align-items: center;
    width: 100px;
    /* justify-content: space-between; */
}

.quantity .item-plus {
    margin-right: 5px;
    cursor: pointer;
    padding-left: 5px;
}

.price__block span {
    display: block;
    font-size: 13px;
}

.qty {
    border: 2px solid black;
    display: flex;
    border-radius: 3px;
    margin-left: 10px;
}

.qty button {
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
}

.qty span {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    text-align: center;
}