* {
    box-sizing: border-box;
}
  
html {
    font-size: 26px;
    font-weight: 400;
    color:#000000;
    line-height: 1.5;
    width: 1349px;
}
  
img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://cdn6.aptoide.com/imgs/9/6/c/96c1ef777ce2b1eb2e435f35cc139742_fgraphic_705x345.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    padding: 30px 0 0 50px;
};

div.game__form {
    color: blueviolet;
}

#playerNum, #attemptNum {
    height: 50px; 
    width: 200px; 
    border-radius: 10px; 
    padding: 0 10px; 
    text-align: center; 
    margin-top: 20px;
}

#playerNum:hover {
    box-shadow: 3px 3px 15px #c70101;
}

.game__play-btn {
    height: 25px; 
    width: 75px; 
    border-radius: 10px; 
    padding: 0 10px; 
    text-align: center;
}

.game__play-btn:hover {
    box-shadow: 3px 3px 15px #c70101;
}

.result {
    height: 585px;
    width: 550px;
    border: 3px solid black; 
    margin-top: 10px; 
    border-radius:15px;
    background-color: wheat;
    font-size: 14px;
}