.btn__cart {
	border: none;
	background: none;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
 cursor: pointer;
}
.btn__cart svg {
	width: 30px;
	margin: 0px 10px 0px 0px;
}
.cart__total {
	font-size: 20px;
	height: 40px;
	padding: 0px 10px;
	text-align: right;
	justify-self: end;
}
.cart__content {
	position: absolute;
	display: flex;
	width: 300px;
	min-height: 200px;
	border-radius: 5px;
	background: #ddf;
	left: 1900px;
	/* left: -200px; */
	top: 95px;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	transition: left 0.3s ease 0s;
}

.active {
	left: -100px;
}