.cart__content {
	position: absolute;
	display: none;
	width: 300px;
	min-height: 200px;
	border-radius: 5px;
	background: #ddf;
	left: -200px;
	top: 20px;
	flex-direction: column;
	justify-content: space-between;
	color: black;
}

.cart__total {
	font-size: 20px;
	height: 40px;
	padding: 0px 10px;
	text-align: right;
	justify-self: end;
}

.shopping_cart:hover .cart__content {
	/* .shopping_cart .cart__content { */
	display: flex;
}

.button_custom {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.cart__icon {
	width: 15px;
}

.cart__item {
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.cart__item__img {
	height: 60px;
}

.cart__btn-del {
	border: 1px solid black;
	border-radius: 5px;
	width: 20px;
	text-align: center;
	cursor: pointer;
}

.cart__item___info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.price__block {
	display: flex;
	justify-content: space-around;
}

.price__block span {
	margin-right: 10px;
}

.cart__quantity {
	cursor: pointer;
}
/* каталог */
#catalog{
	position: relative !important;
	height: 1007px !important;
	
}
.product:nth-child(1) {
	position: absolute !important;
	left: 0px !important;
	top: 0px !important;
}
.product:nth-child(2) {
	position: absolute !important;
	left: 292px !important;
	top: 0px !important;
}
.product:nth-child(3) {
	position: absolute !important;
	left: 585px !important;
	top: 0px !important;
}
.product:nth-child(4) {
	position: absolute !important;
	left: 877px !important;
	top: 0px !important;
}
.product:nth-child(5) {
	position: absolute !important;
	left: 0px !important;
	top: 503px !important;
}
.product:nth-child(6) {
	position: absolute !important;
	left: 292px !important;
	top: 503px !important;
}
.product:nth-child(7) {
	position: absolute !important;
	left: 585px !important;
	top: 503px !important;
}
.product:nth-child(8) {
	position: absolute !important;
	left: 877px !important;
	top: 503px !important;
}
