.shopping_cart {
    display: inline-block;
    width: 200px;
}

.shopping_cart button {
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.shopping_cart button svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.shopping_cart button:hover svg,
.shopping_cart button:hover div {
    fill: #e95a5a;
    color: #e95a5a;
}

.shopping_cart button div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
    margin-left: 13px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.shopping_cart button div span {
    margin-left: 4px;
}

.cart__content {
    box-shadow: 0 0 9px gray;
    position: absolute;
    width: 530px;
    min-height: 90px;
    border-radius: 4px;
    background: #fff;
    left: -200px;
    flex-direction: column;
    color: black;
    top: 40px;
    padding: 5px 0;
    max-height: 500px;
    overflow: scroll;
    display: flex;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clear-all span,
.continue span a {
    padding: 0 10px 10px 10px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.clear-all span:hover,
.continue span:hover {
    color: red;
}